{% extends 'base.html.twig' %}

{% block title %}SymOrderTrack - Liste des toutes commandes

{% endblock %}

{% block body %}
	<div class="container">
		<h1>Mes commandes</h1>

		{% for message in app.flashes('success') %}
			<div class="alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}
		<div class="count mt-4">
			<h4>il y a
				{{commandes.getTotalItemCount}}

				articles au total</h4>
		</div>

		{% if commandes is not empty %}
			<table class="table">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Date de création</th>
						<th>Statut</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for commande in commandes %}
						<tr>
							<td>{{ commande.id }}</td>
							<td>{{ commande.date|date('d/m/Y H:i') }}</td>
							<td>{{ commande.statut }}</td>

							<td>
								<a href="{{ path('commande.show',{id: commande.id}) }}" class="btn btn-primary">Voir les details de commande</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(commandes) }}
			</div>

		{% else %}
			<p>Aucune commande n'a été trouvée.</p>
		{% endif %}
	</div>
{% endblock %}
