<nav class="navbar navbar-expand-lg bg-warning" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand text-light" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active text-light" href="/">Accueil
						<span class="visually-hidden">(current)</span>
					</a>
				</li>
				{% if app.user is not null %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li class="nav-item">
							<a class="nav-link  text-light" href="{{path('article.index')}}">Les articles</a>
						</li>
						<li class="nav-item">
							<a class="nav-link  text-light" href="{{path('commande.index')}}">Les commandes</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link  text-light" href="{{path('commande.list')}} ">Mes commandes</a>
						</li>
					{% endif %}
				{% endif %}
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto">
					{% if app.user %}
						<li class="nav-item dropdown " style="margin-right: 5rem;">
							<a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.fullName }}</a>
							<div class="dropdown-menu ">
								<a class="dropdown-item  " href="{{ path('security.logout') }}">Déconnexion</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('security.login') }}">Connexion
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('security.registration') }}">Inscription

							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
