{% extends 'base.html.twig' %}

{% block title %}SymOrderTrack - articles
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not articles.items is same as ([])%}
			<h1>Les articles</h1>
			<a href="{{path('article.new')}}" class="btn btn-info mt-4">
				créer un nouvel article
			</a>

			{% for message in app.flashes('success') %}
				<div class="alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}
			<div class="count mt-4">
				<h4>il y a
					{{articles.getTotalItemCount}}

					articles au total</h4>
			</div>
			<table class="table table-hover ">
				<thead>
					<tr>
						<th scope="col ">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">Description</th>
						<th scope="col">Prix</th>
						<th scope="col">Stock</th>
						<th scope="col">Edition</th>
						<th scope="col">Suppresion</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr class="table-secondary">
							<td scope="row">{{ article.id }}</td>
							<td>{{ article.name }}</td>
							<td>{{ article.description }}</td>
							<td>{{ article.price|number_format(2, '.', ',') }}€</td>
							<td>{{ article.stock }}</td>
							<td>
								<a href="#" class="btn btn-success">Modifier</a>
							</td>
							<td>
								<a href="{{path('article.delete',{id: article.id})}}" class="btn btn-warning">Supprimer</a>
							</td>
						</tr>
					</td>
				</tbody>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
	{{ knp_pagination_render(articles) }}
{% else %}
	<h4>
		il n'y pas d'article</h4>
{% endif %}</div>{% endblock %}
