{% extends 'base.html.twig' %}

{% block title %}SymOrderTrack - articles
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not articles.items is same as ([])%}

			{% for message in app.flashes('success') %}
				<div class="alert-success mt-4">
					{{ message }}
				</div>
			{% endfor %}
			<h1>Les articles</h1>
			<a href="{{path('article.new')}}" class="btn btn-info mt-4">
				créer un nouvel article
			</a>
			<div class="count mt-4">
				il y a
				{{articles.getTotalItemCount}}
				articles au total
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col ">Numéro</th>
						<th scope="col">Nom</th>
						<th scope="col">Description</th>
						<th scope="col">Prix</th>
						<th scope="col">Stock</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr class="table-secondary">
							<td scope="row">{{ article.id }}</td>
							<td>{{ article.name }}</td>
							<td>{{ article.description }}</td>
							<td>{{ article.price|number_format(2, '.', ',') }}€</td>
							<td>{{ article.stock }}</td>
							<td>
								<div class="btn-group" role="group" style="gap: 8px;">
									<a href="{{path('article.edit',{id: article.id} )}}" class=" btn btn-success">Modifier</a>
									<form action="{{path('article.delete',{id: article.id} )}}" method="POST">
										<button type="submit" class="btn btn-primary " onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette  ?')">Supprimer</button>
									</form>
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="navigation d-flex justify-content-center mt-4">
				{{ knp_pagination_render(articles) }}
			</div>
		{% else %}
			<h4>
				il n'y pas d'article</h4>
			<a href="{{path('article.new')}}" class="btn btn-info mt-4">
				créer un nouvel article
			</a>

		{% endif %}
	</div>
{% endblock %}
